*,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Hind", sans-serif;
    color: #f2f2f2;
}
* li,
body li {
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.toUp {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 0;
    background: transparent;
}
.toUp i {
    background: #f2f2f2;
    color: var(--primary-color);
    border-radius: 50%;
    font-size: 2.5rem;
    opacity: 0.5;
}
.toUp i:hover,
.toUp i:active {
    opacity: 1;
}
:root {
    --primary-color: #e3aa1d;
}
.cardShadow {
    -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.btn {
    line-height: 0px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    padding: 0 15rem;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
}
.blogCardText {
    overflow-x: visible;
}
.phoneNav * {
    overflow: hidden;
}
.phonenavcontainer {
    display: none;
    z-index: 10 !important;
}
.phoneNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 100%;
    position: fixed;
    top: 0.1rem;
    right: 0.1rem;
    padding: 2rem 5rem;
    background-color: #20202a;
    z-index: 10 !important;
}
.phoneNavList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.phoneNavLink:hover .phoneNavText i,
.phoneNavLink:hover .phoneNavText {
    color: var(--primary-color);
}
.phoneNavList li > * {
    float: right;
}
#navCloseBtn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: transparent;
    padding: 0;
    border: 0;
    line-height: 0;
    font-size: 4rem;
}
.phoneNav a {
    margin-bottom: 2rem;
}
.phoneNav a i {
    margin-left: 0.5rem;
}
.menuBar {
    background: #333;
    font-size: 4rem;
    padding: 1rem;
    border: 0;
    position: fixed;
    top: 8px;
    right: 8px;
    display: none;
}
.menuBar:hover,
.menuBar:hover i {
    background: #f2f2f2;
    color: #333;
}
.menuBar i {
    color: #f2f2f2;
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 3.2rem 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7777772e), to(#0000002e)), url(../img/Header.jpg);
    background: linear-gradient(#7777772e, #0000002e), url(../img/Header.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
nav {
    display: block;
}
nav li {
    margin-bottom: 1rem;
}
.headerContainer {
    width: 100%;    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding-right: 6rem;
    padding-left: 1rem;
    height: fit-content;
    overflow: hidden;
}
.headerShapes {
    width: 100%;
    position: absolute;
}
.headerbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.headerAboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.headerAboutMe h1 {
    font-size: 2.9rem;
}
.headerAboutMe h5 {
    font-size: 0.9rem;
    word-spacing: 0.08rem;
    font-weight: 400;
}
.headerAboutMe h1,
.headerAboutMe h2,
.headerAboutMe h4 {
    display: inline-block;
}
.headerAboutMe h1,
.slash {
    color: var(--primary-color);
}
.navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navBtn i {
    float: left;
    margin-right: 0.3rem;
    padding: 0.7rem;
    color: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb11d), to(#fe7f28));
    background: linear-gradient(#ffb11d, #fe7f28);
    border-radius: 50%;
}
.navBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
    padding-right: 1.2rem;
}
.navBtn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb11d), to(#fe7f28));
    background: linear-gradient(#ffb11d, #fe7f28);
    border-radius: 0 1rem 1rem 0;
}
.navText {
    line-height: 1.1;
    overflow-y: hidden;
}
.expertiseText {
    margin-top: 1rem;
}
.expertiseText h5 {
    font-size: 0.9rem;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 9.2rem;
    column-gap: 9.2rem;
    -webkit-column-rule: 3px solid #ac7b0c;
    column-rule: 3px solid #ac7b0c;
    margin-top: 2rem;
    color: #e9691b;
}
#profile {
    border-radius: 2rem;
    width: 28rem;
}
.orangeShape {
    display: none;
    background-color: #ff782b;
    width: 17rem;
    height: 17rem;
}
.yellowShape {
    background-color: #ffbb1a;
}
.hireMe {
    display: inline-block;
    border: 1px solid #febb1c;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
}
.hirMeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hirMeContainer span {
    padding: 0 0.4rem;
}
.hireBtn {
    height: 100%;
    background: #febb1c;
    border: 0;
    border-radius: 0 0.2rem 0.2rem 0;
    padding: 0.4rem;
    line-height: 0;
    overflow: hidden;
}
.mb {
    margin-bottom: 3rem;
}
.aboutMeContainer {
    text-align: center;
    width: 100%;
}
#aboutMe {
    background: #111111;
    color: #f2f2f2;
    padding: 2rem 0;
}
.skillsContainer {
    margin-bottom: 3rem;
}
.skillsHeader {
    background: #20202a;
    color: #f2f2f2;
    text-align: left;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 20%;
    cursor: pointer;
}
.skillsHeader i {
    color: #ff7015;
}
.creditHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.creditHeader hr {
    width: 1.5rem;
    border-top: 1px solid #ff7015;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.skillsBody {
    background: #20202a;
    color: #f2f2f2;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 4rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.skillItem:nth-last-child(2),
.skillItem:nth-last-child(1) {
    margin-bottom: 0;
}
.skillItem {
    width: 50%;
    padding: 0 1rem;
    text-align: left;
    overflow-y: hidden;
    margin-bottom: 4rem;
}
.skillItem {
    font-weight: 500;
}
.skillRange {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}
.skillbg {
    width: 100%;
    height: 0.4rem;
    background: #333;
}
.skillfill {
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
}
.serviceContainer {
    overflow: initial;
    padding: 2rem 0;
}
.serviceCard {
    display: inline-block;
    width: 33%;
    height: 12rem;
    padding: 0 0 0.5rem 0.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.serviceCard:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.serviceCardContainer {
    height: 100%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background: #20202a;
}
.SCardHeader {
    margin-bottom: 0.5rem;
}
.serviceBtn {
    background: #f2f2f2;
    color: #333;
    border: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.serviceBtn i {
    position: relative;
    top: 50%;
    font-size: 1.2rem;
    color: #333;
}
.cardTitle {
    font-weight: 500;
}
.cardText {
    font-weight: 100;
    font-size: 0.8rem;
}
.orangeCard {
    background: #9b410d;
}
#works {
    background: #171717;
    padding: 2rem 0;
}
.worksHeader {
    text-align: center;
    margin-bottom: 1rem;
}
.worksHeader h2 {
    font-size: 2.5rem;
}
.worksBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.worksItem {
    width: 33.3%;
    height: 30rem;
    padding: 0 1rem 0 1rem;
}
.galleryItemTitle {
    height: 10%;
    font-weight: 600;
}
.galleryItemTitle:hover {
    color: var(--primary-color);
}
.galleryItem {
    height: 90%;
    border-radius: 1rem;
}
.galleryItem:hover img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.galleryItem img {
    width: 100%;
    height: 97%;
    border-radius: 0.5rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.testimonialsContainer {
    background: #1a1a26;
    padding: 2rem 0 !important;
}
.testimonialsBody {
    width: 50%;
    margin: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.testimonialsBody::-webkit-scrollbar {
    display: none;
}
.testimonialsSlider {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    width: 100%;
    display: -webkit-box;
    overflow-x: initial;
}
.testimonialsCard {
    width: 100%;
    padding: 1rem;
}
.testimonialsCardContainer {
    background: #20202a;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}
.referenceHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.referenceHeader img {
    width: 30px;
    border-radius: 50%;
}
.referenceBody {
    font-size: 0.7rem;
    height: 5rem;
    color: #98999c;
}
.referenceText {
    color: #98999c;
    font-size: 0.8rem;
}
.ReferenceName {
    margin-left: 0.8rem;
}
.contactsContainer {
    background: #2b2b34;
    padding: 2rem 15rem;
}
.contactsBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contactCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.contactCardItem {
    width: 33.3%;
    padding: 1rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.contactCardItem:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.contactCardContainer {
    border-radius: 0.5rem;
    padding: 1rem;
    background: #20202a;
}
.contactIcon {
    padding: 0.4rem;
    background: #000;
    border: 1px solid #fff;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contactIcon i {
    color: #fdb400;
}
.contactTitle {
    font-weight: 600;
    font-size: 1rem;
}
.contactText {
    font-size: 0.8rem;
}
.formContainer {
    padding: 0 1rem;
}
.formBody {
    background: #1a1a1a;
    border-radius: 0.5rem;
}
.formBody form {
    padding: 1.5rem 2rem 1rem 2rem;
}
.formBody .submitBtn {
    cursor: pointer;
}
.NameEmailInputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#NameInput {
    margin-right: 1.2rem;
}
.formBody div {
    padding: 0.5rem;
}
.formBody input,
.formBody textarea {
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    background: #20202a;
    font-weight: 600;
    font-size: 1rem;
}
.submitForm {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 1rem;
}
.submitFormBtn {
    background: #20202a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 1rem;
}
.submitForm input {
    margin-bottom: 0;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}
.submitIcon {
    background: #20202a;
    border: none;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.5rem;
}
.submitIcon i {
    font-size: 1rem;
}
.formItem {
    padding: 0.5rem;
}
.submitIcon input {
    background: transparent;
}
::-webkit-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}
::placeholder {
    color: #a7a7a7;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #f2f2f2;
}
::-ms-input-placeholder {
    color: #f2f2f2;
}
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}
.sayThanksContainer {
    background: #012641;
    padding: 2rem 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.sayThanksText {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}
.SocialList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.SocialList:nth-child(2) {
    margin-right: 1rem;
}
.SocialIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0.5rem;
}
.SocialBtn i {
    padding: 0.8rem;
}
.SocialBtn {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}
.SocialBtn:hover i {
    color: #012641;
    background: #fff;
}
footer {
    background: #242424;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}
.footerText {
    color: #858585;
}
@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .menuBar {
        display: none;
    }
    header {
        height: 100vh;
    }
    .container {
        padding: 0 15rem;
    }
    .headerContainer {
        padding-left: 1rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 6rem;
        height: 100%;
    }
    nav {
        display: block;
        padding-right: 1.2rem;
    }
    .skillItem:nth-last-child(2),
    .skillItem:nth-last-child(1) {
        margin-bottom: 0;
    }
    .headerAboutMe h1 {
        font-size: 3rem;
    }
    .contactIcon i,
    .contactText,
    .contactTitle,
    .formBody input,
    .formBody textarea,
    .SocialBtn i,
    .expertiseText h5,
    .hirMeContainer span,
    .headerAboutMe h5 {
        font-size: 1rem;
    }
    .testimonialsContainer {
        background: #1a1a26;
        padding: 2rem 0 !important;
    }
    .myBlogContainer {
        padding: 2rem 8rem;
    }
    .worksItem,
    .blogCard,
    .contactCardItem {
        width: 33.3%;
    }
    .serviceCard {
        width: 33%;
    }
    .contactIcon {
        padding: 0.4rem;
    }
    .contactsContainer {
        padding: 2rem 15rem;
    }
    .contactCardContainer {
        line-height: 2rem;
        padding: 2rem;
    }
    #profile {
        width: 24rem;
        height: auto;
    }
    .headerContainer {
        padding-right: 6rem;
    }
    .SocialBtn i {
        padding: 1rem 1rem;
    }
    .sayThanksContainer {
        padding: 1rem 15rem;
    }
    .sayThanksText {
        font-size: 2rem;
    }
    .toUp i {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 992px) {
    html {
        font-size: 9px;
    }
    header {
        height: auto;
    }
    .container {
        padding: 2rem 7em;
    }
    .worksItem {
        width: 50%;
    }
    .skillItem {
        width: 50%;
    }
    .serviceCard {
        width: 49.7%;
    }
    .contactCardContainer {
        line-height: 4rem;
        padding: 6rem;
    }
    .contactIcon {
        padding: 1rem;
    }
    .contactIcon i {
        font-size: 8rem;
    }
    .contactTitle,
    .contactText {
        font-size: 2rem;
    }
    #profile {
        width: 28rem;
        height: auto;
    }
    .SocialBtn i {
        font-size: 1.5rem;
        padding: 1.2rem 1.3rem;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 6px;
    }
    header {
        height: 95rem;
    }
    .container {
        padding: 2rem;
    }
    .headerContainer {
        padding-right: 0;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #profile {
        height: 50%;
        width: auto;
    }
    .headerbody {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    .skillItem {
        width: 100%;
    }
    .skillItem:nth-last-child(2),
    .skillItem:nth-last-child(1) {
        margin-bottom: 4rem;
    }
    .skillItem {
        margin-bottom: 4rem;
    }
    .headerAboutMe h1 {
        font-size: 5rem;
    }
    .expertiseText h5,
    .hirMeContainer span,
    .headerAboutMe h5 {
        font-size: 1.5rem;
    }
    .headerContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 0 1.5rem;
    }
    nav {
        display: none;
    }
    .cardTitle {
        font-size: 2rem;
    }
    .cardText {
        font-size: 1.5rem;
    }
    .menuBar {
        display: inline-block;
    }
    .worksItem {
        width: 100%;
    }
    .serviceCard,
    .blogCard,
    .contactCardItem {
        width: 100%;
    }
    .serviceCard {
        height: auto;
    }
    .serviceCardContainer {
        padding: 6rem;
    }
    .contactCardContainer {
        line-height: 4rem;
        padding: 6rem;
    }
    .contactIcon {
        padding: 1rem;
    }
    .contactIcon i {
        font-size: 5rem;
    }
    .contactTitle,
    .contactText,
    .SocialBtn i {
        font-size: 2rem;
    }
    .blogItem img {
        -o-object-position: 0% 10%;
        object-position: 0% 10%;
    }
    .formBody input,
    .formBody textarea {
        font-size: 1.5rem;
    }
    .SocialBtn i {
        padding: 0.6rem 0.7rem;
    }
    .sayThanksText {
        font-size: 2.5rem;
    }
    .SocialBtn i,
    .submitForm input,
    .submitIcon i {
        font-size: 1rem;
    }
    .toUp i {
        font-size: 4rem;
    }
}
